{% for post in posts %}
<div class="card post-card-{{post.id}}">
    <h3 class="post-title-{{post.id}}">{{post.title}}</h3>
    <h5><a href="{% url 'profile' post.creator %}">{{post.creator}}</a></h5>
    <h6>Posted on : {{post.time}}</h6>
    <p class="post-content-{{post.id}}">{{post.content}}</p>
    <p>likes : <span id="{{post.id}}-num-likes">{{post.get_num_of_likes}}</span></p>
    {% if user.is_authenticated %}
    <button class="btn like_btn" value="{{post.id}}" data-liked=""></button>
    {% if post.creator == user %}
    <button class="btn btn-primary edit_btn"  value="{{post.id}}">Edit this post</button>
    {% endif %}
    {% endif %}
</div>
{% endfor %}