{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<form method="post" class="container-fluid">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="" placeholder="Enter your title">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Up to 180 characters!"></textarea>
        <button type="submit" class="btn btn-success">Post!</button>
    </div>
</form>
{% endif %}
{% include "network/_posts.html"%}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
{% endblock %}