{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<form method="post" class="container-fluid">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="title" id="" placeholder="Enter your title">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Up to 180 characters!"></textarea>
        <button type="submit" class="btn btn-success">Post!</button>
    </div>
</form>
{% endif %}
{% include "network/_posts.html"%}
{% endblock %}