{% extends "network/layout.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if user.username != username %}
<form action="" method="POST">
    {% csrf_token %}
    {% if is_followed %}
    <button class="btn btn-danger" name="follow_btn" value="unfollow">Unfollow {{username}}!</button>
    {% else %}
    <button class="btn btn-success" name="follow_btn" value="follow">Follow {{username}}!</button>
    {% endif %}
</form>
{% endif %}
{% endif %}
{% include "network/_posts.html"%}
{% endblock %}